body{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.calculator{
    height:100vh;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.content{
    background-color: black;
    padding:25px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
}
input{
   width:300px;
   padding:25px;
   color:#fff;
   background: transparent;
   outline: none;
   border: none;
   text-align: right;
   font-size: 30px;
}
input::placeholder{
    color:#fff;
}
button{
    width:60px;
    height:60px;
    border-radius: 10px;
    outline: none;
    border: none;
    margin:10px;
    font-size: 20px;
    background-color: #303136;
    color:orange;
    cursor:pointer;
}
.ac{
    width:140px;
    background-color: orange;
    color:white;
    font-weight: 300;
}